<!DOCTYPE html>
<html>
  <head>
    <title>My Photo Album</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/nav_bar" %>
    <%= render "shared/flash" %>

    <%= yield %>
    
  </body>
</html>
